<h2>MomentaArt's 2015 Spring Benefit and Raffle</h2>

<div class="text_content">

  <p><strong>Preview Exhibition:</strong> Friday, April 3 - Thursday, April 23, 2015</p>
  <p><strong>Preview Party:</strong> Friday, April 3, 7-9PM</p>
  <p><strong>Raffle drawing and party:</strong> Thursday, April 23, 2015, 7-8PM</p>
  <p><strong>After party with live music:</strong> 8-10PM</p>

<% if false %>
  <p><%= link_to "Buy Tickets to the Benefit", 'http://momentaart.org/momenta-art-spring-benefit-2014-purchase-tickets.html', :id => 'buytix' %></p>
<% end %>
  <p><%= link_to "View Benefit Art Works", works_path %></p>

</div>


