<h2>MomentaArt's 2013 Spring Benefit and Raffle</h2>

<br />

<p><strong>Preview exhibition:</strong> Friday, May 3rd through Sunday, May 26th</p>
<p><strong>Raffle drawing and party:</strong> Sunday, May 26th, 6-10pm</p>

<p><%= link_to "Buy Tickets to the Benefit", 'http://www.momentaart.org/momenta-art-spring-benefit-2013.html', :id => 'buytix' %></p>

<div class="text_content">

  <p>Momenta Art presents its eighteenth annual benefit to support its ongoing mission to exhibit the work of emerging and underrepresented artists. <strong>A ticket guarantees you a work of art and entrance for two</strong> to the silent auction and raffle drawing held at <strong>56 Bogart Street</strong> on <strong>May 26th</strong>. Tickets are limited to the number of artworks available.</p>

  <p>Momenta's 2013 benefit will present work by both emerging and known artists. Raffle tickets may be purchased until all the tickets are sold. The work will be on view at Momenta for three weeks prior to the raffle drawing party.</p>

  <p>The raffle will begin at 7:30 pm continuing until all works have been offered, with the first randomly drawn ticket giving its holder first choice of one work displayed. </p>

  <p>As a not for profit exhibition organization, Momenta depends on the contributions of people like you. We sincerely thank all participating artists, event sponsors, committee members, ticket buyers and auction bidders for their generous support.</p>

  <p>Please use the links to the right to view a gallery of available works, or to upload your information if you have been invited to donate by one of our committee members.</p>

</div>


