<h2>Momenta Art Spring Benefit 2016</h2>

<div class="text_content">

<% if Rails.configuration.post_raffle %>
<p><%= link_to 'Remaining works', works_path %> are available for $275. Please email <%= link_to 'Kikuko Tanaka', 'mailto:kikuko@momentaart.org' %> if you would like to purchase any.</p>
<% else %>
  <p><strong>Preview Party:</strong> Friday, April 8, 2016, 7-9PM</p>
  <p><strong>Preview Exhibition:</strong> Friday, April 8 - Thursday, April 28, 2016<sup>*</sup><br>
  <sup>*</sup>Gallery hours are Thursday - Sunday, 12-6PM</p>
  <p><strong>Raffle Drawing + Live Auction: Thursday, April 28, 2016, starting at 7PM</strong></p>
  <p>Momenta Art<br>
  56 Bogart Street<br>
  Brooklyn, NY 11206</p>

  <p><%= link_to "Buy Tickets to the Benefit", 'http://www.momentaart.org/momenta-art-spring-benefit-2016.html', :id => 'buytix' %></p>
  <p><%= link_to "View Raffle Artworks", works_path %></p>
<% end %>
</div>


