<h2>MomentaArt's 2014 Spring Benefit and Raffle</h2>

<div class="text_content">

  <p>Thank you for supporting Momenta Art through your work. Though we are fortunate to be supported by a number of governmental organizations and private foundations, a significant portion of our operation relies on fundraiser events. We truly appreciate your support for making our continued operation possible.</p>

  <p><strong>Preview Exhibition:</strong> April 18 - May 8, 2014</p>
  <p><strong>Preview Party:</strong> Friday, April 18, 7-9pm</p>
  <p><strong>Raffle drawing and party:</strong> Thursday, May 8, 7-10PM</p>

  <% if false %>
  <p><%= link_to "Buy Tickets to the Benefit", 'http://www.momentaart.org/momenta-art-spring-benefit-2013.html', :id => 'buytix' %></p>
  <% end %>

  <h4>Online Submission of Image and information of your work</h4>

  <p>In order to make the process easy, one of our supporters, ArtCat, has generously created an online submission form. Please <%= link_to 'submit', guidelines_path %> the following information of your work by March 24th.</p>

   <ul>
    <li>A jpeg image (maximum side ranging between 600 -1000 pixels, 72 dpi)</li>
    <li>Your name</li>
    <li>Title of the work</li>
    <li>Year </li>
    <li>Size</li>
    <li>Medium</li>
    <li>Edition (if applicable)</li>
    <li>Estimated value</li>
    <li>"Courtesy of" credit(can be "courtesy of the artist"). </li>
  </ul>


  <p>Thank you so much for your kind cooperation. We look forward meeting seeing you at the events.</p>

  <p>Best regards,</p>

  <p>Eric Heist<br />
  Director<br />
  Momenta Art</p>
</div>


