<div class="text_content">

<h2>Submission Guidelines</h2>

<p>Thank you very much for agreeing to participate in our forthcoming annual fundraiser, Spring Benefit 2015.</p>


  <p>Momenta Art’s Spring Benefit is an important annual fundraiser to support our operating budget. Since its establishment, Momenta Art’s Spring Benefit has been generously supported by over 2,000 artists in various stages of their career. The Spring Benefit is also an occasion to celebrate our achievement of the year with the community of artists and supporters and to re-affirm our shared commitment through art. This year, the raffle drawing will be followed by an after-party with a musical band.</p>

  <p>As a participating artist, you are welcome to attend both Preview Party on Friday, April 3 and Raffle Auction Party + Afterparty on Thursday, April 23, with one additional guest.
  </p>

<h4>Raffle Ticket Price</h4>

<ul>
<li>Buy It Now: $950 (Buy It Now purchasers can choose their favorite work between April 3 and 22)</li>
<li>Early Bird Raffle Ticket: $225 (until the evening of the preview party on Friday, April 3)</li>
<li>Regular Raffle Ticket: $275</li>
<li>Party Lover: $50.00</li>
</ul>

<h4>Timeline</h4>

<ul>
  <li>February 22: Deadline to be included in printed materials</li>
  <li>March 1 - 22: Raffle artists drop-off</li>
  <li>April 23: Raffle Auction + After Party</li>
</ul>

  <h4>Practical Information</h4>
  <ul>
    <li><strong>We ask that 2-dimensional works on paper be framed if at all possible.</strong> Momenta cannot provide frames for donated raffle works.
</li>
    <li>Due to space restrictions please limit your donation to wall pieces no larger than 18 inches in any dimension and sculptural pieces <strong>no larger than 18 inches in any dimension.</strong></li>
    <li>Please restrict your donation to works valued <strong>under $1500.</strong></li>
    <li>The collection of over 100 artworks is a big undertaking, so it will be greatly appreciated if work can be <strong>dropped off at Momenta (56 Bogart St) Thursday-Sunday from noon-6PM from March 1st through March 22nd.</strong> If you will be unable to get your work to the gallery during this time, please call or email the gallery to make other arrangements. (kikuko@momentaart.org, 718-218-8058)</li>
  </ul>
  
<p><a href="javascript:window.print()">Print This</a></p>
<p><%= link_to "Accept and continue", accept_path, :method => :post %></p>

</div>

