<div class="text_content">

<h2>Submission Guidelines</h2>

<p>Thank you for accepting the invitation to donate work to Momenta Art's benefit raffle.</p>


  <p>All raffle tickets are being sold for $200 until the benefit opens and $250 thereafter until all tickets are sold.  All ticket buyers are guaranteed to receive an artwork, as well as admission for two to the raffle drawing party. As a contributing artist, you are welcome to attend both preview party and auction with one guest.</p>

  
  <h4>Practical Information</h4>
  <ul>
    <li>We are primarily looking for framed two-dimensional works or sculptures. In case of paper-based two-dimensional works, please ensure that it is framed.</li>
    <li>Due to space restrictions please limit your donation to wall pieces no larger than 18 inches in any dimension and sculptural pieces <strong>no larger than 18 inches in any dimension.</strong></li>
    <li>Please restrict your donation to works valued <strong>under $1000.</strong></li>
    <li>The collection of over 100 artworks is a big undertaking, so it will be greatly appreciated if work can be <strong>dropped off at Momenta (56 Bogart St) Thursday, March 13th, through Monday, March 24th, Thursday through Monday between noon and 6pm.</strong> If you will be unable to get your work to the gallery during this time, please call or email the gallery to make other arrangements.</li>
  </ul>
  
<p><a href="javascript:window.print()">Print This</a></p>
<p><%= link_to "Accept and continue", accept_path, :method => :post %></p>

</div>

