<div class="text_content">

<h2>Submission Guidelines</h2>

<p>Thank you very much for agreeing to participate in our forthcoming annual fundraiser, Spring Benefit 2016.</p>


<p>Momenta Art’s Spring Benefit is an important annual fundraiser to support our operating budget. Since its establishment, Momenta Art’s Spring Benefit has been generously supported by over 2,000 artists in various stages of their career. The Spring Benefit is also an occasion to celebrate our achievement of the year with the community of artists and supporters and to re-affirm our shared commitment through art.</p>
 
<p>This year, the raffle drawing will be followed by a live auction and an after-party with music selected by Michael Paul Britto. As a participating artist, you are welcome to attend both Preview Opening Party on Friday, April 8 and Benefit Party on Thursday, April 28, with one additional guest.</p>

<h4>Raffle Ticket Price</h4>

<ul>
<li>Buy It Now: $950 (Buy It Now purchasers can choose their favorite work between April 8 and 24)</li>
<li>Early Bird Raffle Ticket: $250 (until the evening of the preview party on Friday, April 8)</li>
<li>Regular Raffle Ticket: $275</li>
<li>Party Lover: $50.00</li>
</ul>

<h4>Timeline</h4>

<ul>
  <li>March 12 - 27: Raffle artwork drop-off period</li>
  <li>Friday, April 8, 7-9PM: Preview Opening Party/li>
  <li>Thursday, April 28, starting at 7PM: Raffle Drawing, Live Auction + Afterparty</li>
</ul>

  <h4>Practical Information</h4>
  <ul>
    <li>Due to space restrictions please limit your donation to artworks <strong>no larger than 18" in any dimension.</strong></li>
    <li>Please restrict your donation to works valued <strong>under $1,500.</strong></li>
    <li>The collection of over 100 artworks is a big undertaking, so it would be greatly appreciated if work can be <strong>dropped off at Momenta Art (56 Bogart St) during the period of Thursday, March 12th thru Sunday, March 27th.</strong> Our gallery hours are <strong>Thursday through Sunday, 12-6pm.</strong> If you are unable to deliver your work to the gallery during this period, please call or email the gallery (718-218-8058, <a href="mailto:kikuko@momentaart.org">kikuko@momentaart.org</a>) to make other arrangements.</li>
    <li><strong>Please consider providing frames for 2-dimensional works on paper</strong> if at all possible. This ensures protection of your artwork.</li>
  </ul>

<p>Thank you in advance for your generosity. We look forward to hearing from you, and creating a fantastic event with you.</p>
  
<p><a href="javascript:window.print()">Print This</a></p>
<p><%= link_to "Accept and continue", accept_path, :method => :post %></p>

</div>

